<!-- your html code here -->
<div class="container-fluid bg-white">
        <div class="row p-5">
            <div class="col-sm-8">
                <h1>
                    <span class="text-dark">
                        Grey text here
                    </span>
                    <span class="text-secondary">
                        Whiteish text here
                    </span>
                </h1>

                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis voluptatem voluptas ex earum ipsam
                    accusamus, praesentium dolore corrupti soluta minima esse quos quia impedit, neque rem deserunt
                    cumque vitae nobis? dolor sit amet consectetur adipisicing elit. Debitis voluptatem voluptas ex
                    earum ipsam
                    accusamus, praesentium dolore corrupti soluta minima esse quos quia impedit, neque rem deserunt
                    cumque vitae nobis?
                </p>
            </div>
            <div class="col-sm-4">

                <img src="assets/img/1.jpg" class="img-fluid rounded-circle" alt="">
            </div>


        </div>

    </div