<!-- your html code here -->
<div class="container-fluid bg-white customCont">
        <div class="">
            <img class="rounded-circle customImg" src="/website/assets/img/2.jpg" alt="">
        </div>
        <div class="customDiv">
            <div class="d-flex gap-2">
                <h2 class="fw-bold">The Second Heading</h2>
                <h2 class="fw-bold" style="color: grey;">Is Pretty Cool Too.</h2>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus consectetur diam sed aliquam
                scelerisque. Quisque gravida lacus sit amet ipsum pretium imperdiet. Sed condimentum mattis ipsum at
                volutpat.</p>
        </div>
</div>